body {
  margin: 0;
  background: #0e0e0f;
  font-family: Arial, sans-serif;
  color: white;
}

.admin-header {
  background: #111;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #ff7b00;
}

.admin-menu {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #181818;
  border-bottom: 2px solid #333;
  position: sticky;
  top: 0;
  z-index: 100;
}

.admin-menu button {
  background: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.admin-menu button:hover {
  background: #ff7b00;
}

main {
  padding: 20px;
}

.admin-section {
  display: none;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  border: 1px solid #333;
}

.admin-section.visible {
  display: block;
}

h2 {
  color: #ff7b00;
}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #444;
  background: #202020;
  color: white;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.btn-save {
  margin-top: 20px;
  background: #ff7b00;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.input-gol {
  width: 60px;        /* deixa pequeno */
  height: 45px;
  font-size: 22px;
  text-align: center;
  border-radius: 10px;
  background: #2a2a2a;
  color: #ffffff;
  border: 2px solid #444;
  outline: none;
}

/* Remove setas dos inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.artilharia-add {
  background: #111;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  margin-bottom: 25px;
}

.artilheiro-item {
  display: flex;
  align-items: center;
  gap: 12px; /* Espaço pequeno entre os itens */
  background: #1a1a1a;
  padding: 12px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
}

/* Bandeira pequena */
.artilheiro-flag {
  width: 35px;
  height: 25px;
  object-fit: cover;
  border-radius: 4px;
}

/* Nome sem flex, para não empurrar o restante */
.artilheiro-nome {
  font-size: 18px;
  color: white;
  margin-right: 10px; /* pequeno espaço antes do input */
}

/* Input pequeno */
.input-gol-peq {
  width: 60px;
  height: 45px;
  font-size: 22px;
  text-align: center;
  border-radius: 10px;
  background: #2a2a2a;
  color: #ffffff;
  border: 2px solid #444;
  outline: none;
}

/* Botão de salvar igual ao de adicionar jogador */
.btn-save-gol {
  background: #ff7b00;
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  transition: .2s;
}

.btn-save-gol:hover {
  background: #ffa53b;
}

