/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000; /* Fundo preto */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título no topo */
.main-title {
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}

/* Container que centraliza o formulário */
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Formulário */
.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #222; /* Fundo escuro dos inputs */
  color: #fff; /* Texto branco */
}

input::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: #2575fc;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1a5ed0;
}
