/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #1c1c1c, #000); /* Fundo preto */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container para título, imagem e texto de boas-vindas */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; 
  margin-bottom: 50px;
}

/* Título */
.main-title {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  margin-bottom: 30px;
}

/* Imagem */
.logo {
  display: block;
  max-width: 200px;
  height: auto;
  margin-bottom: 30px;
}

/* Texto de boas-vindas */
.welcome-text {
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Container do formulário */
.form-block {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

/* Formulário */
.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #555;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 16px;
}

input::placeholder {
  color: #aaa;
}

/* Container dos botões */
.buttons {
  display: flex;
  flex-direction: column; 
  gap: 10px; /* Espaçamento entre botões */
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #ffcc00, #ff0000);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.5);
}

@media (max-width: 400px) {
  .form-container {
    width: 90%;
  }
  .main-title {
    font-size: 20px;
    margin: 15px 10px;
  }
}
